* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.title-bar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    background-color: #0e0d0d;
    font-size: 14px;
    width: 100%;
}

.title-bar .first,
.title-bar .second {
    display: flex;
    gap: 10px;
}

.title-bar .first img {
    width: 16px;
}

.content {
    position: fixed;
    top: 26px;
    left: 0;
    height: calc(100vh - 26px);
}

.content-inner {
    position: relative;
}