:root {
    --foreground: white;
    --background-sidebar: #020202;
    --background-functionbar: #0c0c0c;
    --background-editor: #0f0f0f;
}

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

body {
    background-color: #cecbcb;
    width: 100vw;
    height: 100vh;
}

button {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

input,
textarea {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 5px;
    border: none;
    outline: none;
    resize: none;
    width: calc(100% - 15px);
    user-select: all;
}

input::placeholder,
textarea::placeholder {
    color: black;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 1px;
    overflow: hidden;
}

.sidebar,
.funcbar,
.editor {
    height: 100vh;
}

.sidebar {
    padding-top: 5px;
    width: 52px;
    height: calc(100vh - 5px);
    background-color: var(--background-sidebar);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.sidebar i {
    font-size: 35px; 
    cursor: pointer;
}

.funcbar {
    width: calc((100% - 25px - 2px) - 85%);
    background-color: var(--background-functionbar);
}

.funcbar .view {
    display: none;
}

.funcbar .view.current_view {
    display: block;
}

.funcbar .padding-inner {
    padding: 5px;
}

ul {
    margin-left: 20px;
}

.files-index ul {
    list-style-type: none;
}

.files-index ul li {
    cursor: pointer;
}

.files-index ul li .folder,
.files-index ul li .file {
    padding: 5px;
}

.files-index ul li .folder:hover,
.files-index ul li .file:hover {
    background-color: var(--background-editor);
}

.editor {
    width: calc((100% - 25px - 2px) - 15%);
    background-color: var(--background-editor);
}